body {
  background-color: skyblue;
  border-style: solid;
  border-radius: Spax;
}
h1 {
  background-color: pink;
  text-align-last: center;
  border-radius: 6px;
  margin: 5px;
}

p{
  margin: 6px;
  font-family: Times New Roman;
  
  
  

  
}